.sheet
{
    width: 768px;
    border: 1px outset black;
    margin: auto;
}

.name
{
    color: white;
    font-size: 13px;
    height: 64px;
    text-align: left;
    font-family: 'Montserrat';
    background-color: #0061b1;
    padding-left: 30px;
    padding-top: 30px;
}

.body
{
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.profile
{
    margin-top: 0%;
}

.columnContainer
{
    overflow: hidden;
}

.columnContainer .leftColumn
{
    width: 75%;
    float: left;
    padding-top: 10px;
    border-top: 1px outset #9c9c9c;
    border-right: 1px outset #9c9c9c;
}

.columnContainer .rightColumn
{
    width: 20%;
    float: left;
    padding-top: 10px;
    border-top: 1px outset #9c9c9c;
    padding-left: 10px;
}

.skills
{
    line-height: 2;
}

p
{
    font-size: 11px;
}

h3
{
    font-size: 32px;
    margin-top: 0%;
    margin-bottom: 0%;
}

h4
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 16px;
}

h5
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: normal;
    font-size: 14px;
}

h6
{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #a9a9a9;
    font-weight: normal;
}

a
{
    font-size: 12px;
}

ul
{
    font-size: 11px;
    margin-top: 0%;
}