.sheet
{
    width: 768px;
    border: 1px outset black;
    margin: auto;
}

.name
{
    color: #5c94ce;
    font: 700;
    font-size: 64px;
    height: 64px;
    text-align: left;
    vertical-align: bottom;
    font-family: 'Montserrat';
}

.headerrow
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
}
.headerrow div
{
    width:50%;
    float: left;
}

.links
{
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}